In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
# uploading dataset
df = pd.read_csv('CarPrice.csv')
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [5]:
df.shape

(205, 26)

In [6]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

# Data Preprocessing

# Ordinal Encoding for CarName

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [8]:
df.CarName.unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [9]:
Car_name = ['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246']

In [10]:
ordinal = OrdinalEncoder(categories=[Car_name])

In [11]:
encoded_value = ordinal.fit_transform(df[['CarName']])

In [12]:
Car_Name = pd.DataFrame(encoded_value, columns=['CarName'])

In [13]:
Car_Name

     CarName
0        0.0
1        1.0
2        2.0
3        3.0
4        4.0
..       ...
200    140.0
201    141.0
202    142.0
203    146.0
204    144.0

[205 rows x 1 columns]

In [14]:
df = df.drop('CarName', axis=1)

In [15]:
df = pd.concat([df, Car_Name], axis=1)
df

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarName
0,1,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,0.0
1,2,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,1.0
2,3,1,gas,std,two,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,2.0
3,4,2,gas,std,four,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,3.0
4,5,2,gas,std,four,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,gas,std,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,140.0
201,202,-1,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,141.0
202,203,-1,gas,std,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,142.0
203,204,-1,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,146.0
204,205,-1,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,144.0

#  Manual Encoding for fueltype

In [16]:
df.fueltype.unique()

array(['gas', 'diesel'], dtype=object)

In [17]:
# gas == 0 & diesel == 1
df.fueltype = df.fueltype.replace(['gas', 'diesel'], [0, 1])
df

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarName
0,1,3,0,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,0.0
1,2,3,0,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,1.0
2,3,1,0,std,two,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,2.0
3,4,2,0,std,four,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,3.0
4,5,2,0,std,four,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,0,std,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,140.0
201,202,-1,0,turbo,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,141.0
202,203,-1,0,std,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,142.0
203,204,-1,1,turbo,four,sedan,rwd,front,109.1,188.8,...,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,146.0
204,205,-1,0,turbo,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,144.0

# Manual Encoding for aspiration

In [18]:
df.aspiration.unique()

array(['std', 'turbo'], dtype=object)

In [19]:
# std == 0 & turbo == 1
df.aspiration = df.aspiration.replace(['std', 'turbo'], [0, 1])
df

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarName
0,1,3,0,0,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,0.0
1,2,3,0,0,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,1.0
2,3,1,0,0,two,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,2.0
3,4,2,0,0,four,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,3.0
4,5,2,0,0,four,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,0,0,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,140.0
201,202,-1,0,1,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,141.0
202,203,-1,0,0,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,142.0
203,204,-1,1,1,four,sedan,rwd,front,109.1,188.8,...,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,146.0
204,205,-1,0,1,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,144.0

# Manual Encoding for doornumber

In [20]:
df.doornumber.unique()

array(['two', 'four'], dtype=object)

In [21]:
# two == 0 & four == 1
df.doornumber = df.doornumber.replace(['two', 'four'], [0, 1])
df

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarName
0,1,3,0,0,0,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,0.0
1,2,3,0,0,0,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,1.0
2,3,1,0,0,0,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,2.0
3,4,2,0,0,1,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,3.0
4,5,2,0,0,1,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,0,0,1,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,140.0
201,202,-1,0,1,1,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,141.0
202,203,-1,0,0,1,sedan,rwd,front,109.1,188.8,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,142.0
203,204,-1,1,1,1,sedan,rwd,front,109.1,188.8,...,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,146.0
204,205,-1,0,1,1,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,144.0

# Ordinal Encoding for carbody

In [22]:
df.carbody.unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [23]:
Car_body = ['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop']

In [24]:
ordinal = OrdinalEncoder(categories=[Car_body])
encoded_value = ordinal.fit_transform(df[['carbody']])
Car_body = pd.DataFrame(encoded_value, columns=['carbody'])
Car_body

     carbody
0        0.0
1        0.0
2        1.0
3        2.0
4        2.0
..       ...
200      2.0
201      2.0
202      2.0
203      2.0
204      2.0

[205 rows x 1 columns]

In [25]:
df = df.drop('carbody', axis=1)

In [26]:
df = pd.concat([df, Car_body], axis=1)
df

,car_ID,symboling,fueltype,aspiration,doornumber,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarName,carbody
0,1,3,0,0,0,rwd,front,88.6,168.8,64.1,...,3.47,2.68,9.0,111,5000,21,27,13495.0,0.0,0.0
1,2,3,0,0,0,rwd,front,88.6,168.8,64.1,...,3.47,2.68,9.0,111,5000,21,27,16500.0,1.0,0.0
2,3,1,0,0,0,rwd,front,94.5,171.2,65.5,...,2.68,3.47,9.0,154,5000,19,26,16500.0,2.0,1.0
3,4,2,0,0,1,fwd,front,99.8,176.6,66.2,...,3.19,3.40,10.0,102,5500,24,30,13950.0,3.0,2.0
4,5,2,0,0,1,4wd,front,99.4,176.6,66.4,...,3.19,3.40,8.0,115,5500,18,22,17450.0,4.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,0,0,1,rwd,front,109.1,188.8,68.9,...,3.78,3.15,9.5,114,5400,23,28,16845.0,140.0,2.0
201,202,-1,0,1,1,rwd,front,109.1,188.8,68.8,...,3.78,3.15,8.7,160,5300,19,25,19045.0,141.0,2.0
202,203,-1,0,0,1,rwd,front,109.1,188.8,68.9,...,3.58,2.87,8.8,134,5500,18,23,21485.0,142.0,2.0
203,204,-1,1,1,1,rwd,front,109.1,188.8,68.9,...,3.01,3.40,23.0,106,4800,26,27,22470.0,146.0,2.0
204,205,-1,0,1,1,rwd,front,109.1,188.8,68.9,...,3.78,3.15,9.5,114,5400,19,25,22625.0,144.0,2.0

# Label Encoding for drivewheel

In [27]:
df.drivewheel.unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [28]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()

In [29]:
df.drivewheel = label.fit_transform(df['drivewheel'])
df

,car_ID,symboling,fueltype,aspiration,doornumber,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarName,carbody
0,1,3,0,0,0,2,front,88.6,168.8,64.1,...,3.47,2.68,9.0,111,5000,21,27,13495.0,0.0,0.0
1,2,3,0,0,0,2,front,88.6,168.8,64.1,...,3.47,2.68,9.0,111,5000,21,27,16500.0,1.0,0.0
2,3,1,0,0,0,2,front,94.5,171.2,65.5,...,2.68,3.47,9.0,154,5000,19,26,16500.0,2.0,1.0
3,4,2,0,0,1,1,front,99.8,176.6,66.2,...,3.19,3.40,10.0,102,5500,24,30,13950.0,3.0,2.0
4,5,2,0,0,1,0,front,99.4,176.6,66.4,...,3.19,3.40,8.0,115,5500,18,22,17450.0,4.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,0,0,1,2,front,109.1,188.8,68.9,...,3.78,3.15,9.5,114,5400,23,28,16845.0,140.0,2.0
201,202,-1,0,1,1,2,front,109.1,188.8,68.8,...,3.78,3.15,8.7,160,5300,19,25,19045.0,141.0,2.0
202,203,-1,0,0,1,2,front,109.1,188.8,68.9,...,3.58,2.87,8.8,134,5500,18,23,21485.0,142.0,2.0
203,204,-1,1,1,1,2,front,109.1,188.8,68.9,...,3.01,3.40,23.0,106,4800,26,27,22470.0,146.0,2.0
204,205,-1,0,1,1,2,front,109.1,188.8,68.9,...,3.78,3.15,9.5,114,5400,19,25,22625.0,144.0,2.0

# Normal Encoding for enginelocation

In [30]:
df.enginelocation.unique()

array(['front', 'rear'], dtype=object)

In [31]:
# front == 0 & rear == 1
df.enginelocation = df.enginelocation.replace(['front', 'rear'], [0, 1])
df

,car_ID,symboling,fueltype,aspiration,doornumber,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarName,carbody
0,1,3,0,0,0,2,0,88.6,168.8,64.1,...,3.47,2.68,9.0,111,5000,21,27,13495.0,0.0,0.0
1,2,3,0,0,0,2,0,88.6,168.8,64.1,...,3.47,2.68,9.0,111,5000,21,27,16500.0,1.0,0.0
2,3,1,0,0,0,2,0,94.5,171.2,65.5,...,2.68,3.47,9.0,154,5000,19,26,16500.0,2.0,1.0
3,4,2,0,0,1,1,0,99.8,176.6,66.2,...,3.19,3.40,10.0,102,5500,24,30,13950.0,3.0,2.0
4,5,2,0,0,1,0,0,99.4,176.6,66.4,...,3.19,3.40,8.0,115,5500,18,22,17450.0,4.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,0,0,1,2,0,109.1,188.8,68.9,...,3.78,3.15,9.5,114,5400,23,28,16845.0,140.0,2.0
201,202,-1,0,1,1,2,0,109.1,188.8,68.8,...,3.78,3.15,8.7,160,5300,19,25,19045.0,141.0,2.0
202,203,-1,0,0,1,2,0,109.1,188.8,68.9,...,3.58,2.87,8.8,134,5500,18,23,21485.0,142.0,2.0
203,204,-1,1,1,1,2,0,109.1,188.8,68.9,...,3.01,3.40,23.0,106,4800,26,27,22470.0,146.0,2.0
204,205,-1,0,1,1,2,0,109.1,188.8,68.9,...,3.78,3.15,9.5,114,5400,19,25,22625.0,144.0,2.0

# Ordinal encoding for enginetype

In [32]:
df.enginetype.unique()

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [33]:
Engine_type = ['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv']

In [34]:
ordinal = OrdinalEncoder(categories=[Engine_type])
encoded_value = ordinal.fit_transform(df[['enginetype']])
Engine_type = pd.DataFrame(encoded_value, columns=['enginetype'])
Engine_type

     enginetype
0           0.0
1           0.0
2           1.0
3           2.0
4           2.0
..          ...
200         2.0
201         2.0
202         1.0
203         2.0
204         2.0

[205 rows x 1 columns]

In [35]:
df = df.drop('enginetype', axis=1)

In [36]:
df = pd.concat([df, Engine_type], axis=1)
df

,car_ID,symboling,fueltype,aspiration,doornumber,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarName,carbody,enginetype
0,1,3,0,0,0,2,0,88.6,168.8,64.1,...,2.68,9.0,111,5000,21,27,13495.0,0.0,0.0,0.0
1,2,3,0,0,0,2,0,88.6,168.8,64.1,...,2.68,9.0,111,5000,21,27,16500.0,1.0,0.0,0.0
2,3,1,0,0,0,2,0,94.5,171.2,65.5,...,3.47,9.0,154,5000,19,26,16500.0,2.0,1.0,1.0
3,4,2,0,0,1,1,0,99.8,176.6,66.2,...,3.40,10.0,102,5500,24,30,13950.0,3.0,2.0,2.0
4,5,2,0,0,1,0,0,99.4,176.6,66.4,...,3.40,8.0,115,5500,18,22,17450.0,4.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,0,0,1,2,0,109.1,188.8,68.9,...,3.15,9.5,114,5400,23,28,16845.0,140.0,2.0,2.0
201,202,-1,0,1,1,2,0,109.1,188.8,68.8,...,3.15,8.7,160,5300,19,25,19045.0,141.0,2.0,2.0
202,203,-1,0,0,1,2,0,109.1,188.8,68.9,...,2.87,8.8,134,5500,18,23,21485.0,142.0,2.0,1.0
203,204,-1,1,1,1,2,0,109.1,188.8,68.9,...,3.40,23.0,106,4800,26,27,22470.0,146.0,2.0,2.0
204,205,-1,0,1,1,2,0,109.1,188.8,68.9,...,3.15,9.5,114,5400,19,25,22625.0,144.0,2.0,2.0

# Ordinal Encoding for cylindernumber

In [37]:
df.cylindernumber.unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [38]:
Cld_number = ['four', 'six', 'five', 'three', 'twelve', 'two', 'eight']

In [39]:
ordinal = OrdinalEncoder(categories=[Cld_number])
encoded_value = ordinal.fit_transform(df[['cylindernumber']])
Cld_number = pd.DataFrame(encoded_value, columns=['cylindernumber'])
Cld_number

     cylindernumber
0               0.0
1               0.0
2               1.0
3               0.0
4               2.0
..              ...
200             0.0
201             0.0
202             1.0
203             1.0
204             0.0

[205 rows x 1 columns]

In [40]:
df = df.drop('cylindernumber', axis=1)

In [41]:
df = pd.concat([df, Cld_number], axis=1)
df

,car_ID,symboling,fueltype,aspiration,doornumber,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarName,carbody,enginetype,cylindernumber
0,1,3,0,0,0,2,0,88.6,168.8,64.1,...,9.0,111,5000,21,27,13495.0,0.0,0.0,0.0,0.0
1,2,3,0,0,0,2,0,88.6,168.8,64.1,...,9.0,111,5000,21,27,16500.0,1.0,0.0,0.0,0.0
2,3,1,0,0,0,2,0,94.5,171.2,65.5,...,9.0,154,5000,19,26,16500.0,2.0,1.0,1.0,1.0
3,4,2,0,0,1,1,0,99.8,176.6,66.2,...,10.0,102,5500,24,30,13950.0,3.0,2.0,2.0,0.0
4,5,2,0,0,1,0,0,99.4,176.6,66.4,...,8.0,115,5500,18,22,17450.0,4.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,0,0,1,2,0,109.1,188.8,68.9,...,9.5,114,5400,23,28,16845.0,140.0,2.0,2.0,0.0
201,202,-1,0,1,1,2,0,109.1,188.8,68.8,...,8.7,160,5300,19,25,19045.0,141.0,2.0,2.0,0.0
202,203,-1,0,0,1,2,0,109.1,188.8,68.9,...,8.8,134,5500,18,23,21485.0,142.0,2.0,1.0,1.0
203,204,-1,1,1,1,2,0,109.1,188.8,68.9,...,23.0,106,4800,26,27,22470.0,146.0,2.0,2.0,1.0
204,205,-1,0,1,1,2,0,109.1,188.8,68.9,...,9.5,114,5400,19,25,22625.0,144.0,2.0,2.0,0.0

# Ordinal Encoding for fuelsystem

In [42]:
df.fuelsystem.unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [43]:
Fls = ['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi']

In [44]:
ordinal = OrdinalEncoder(categories=[Fls])
encoded_value = ordinal.fit_transform(df[['fuelsystem']])
Fls = pd.DataFrame(encoded_value, columns=['fuelsystem'])
Fls

     fuelsystem
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
..          ...
200         0.0
201         0.0
202         0.0
203         6.0
204         0.0

[205 rows x 1 columns]

In [45]:
df = df.drop('fuelsystem', axis=1)

In [46]:
df = pd.concat([df, Fls], axis=1)
df

,car_ID,symboling,fueltype,aspiration,doornumber,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,horsepower,peakrpm,citympg,highwaympg,price,CarName,carbody,enginetype,cylindernumber,fuelsystem
0,1,3,0,0,0,2,0,88.6,168.8,64.1,...,111,5000,21,27,13495.0,0.0,0.0,0.0,0.0,0.0
1,2,3,0,0,0,2,0,88.6,168.8,64.1,...,111,5000,21,27,16500.0,1.0,0.0,0.0,0.0,0.0
2,3,1,0,0,0,2,0,94.5,171.2,65.5,...,154,5000,19,26,16500.0,2.0,1.0,1.0,1.0,0.0
3,4,2,0,0,1,1,0,99.8,176.6,66.2,...,102,5500,24,30,13950.0,3.0,2.0,2.0,0.0,0.0
4,5,2,0,0,1,0,0,99.4,176.6,66.4,...,115,5500,18,22,17450.0,4.0,2.0,2.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,0,0,1,2,0,109.1,188.8,68.9,...,114,5400,23,28,16845.0,140.0,2.0,2.0,0.0,0.0
201,202,-1,0,1,1,2,0,109.1,188.8,68.8,...,160,5300,19,25,19045.0,141.0,2.0,2.0,0.0,0.0
202,203,-1,0,0,1,2,0,109.1,188.8,68.9,...,134,5500,18,23,21485.0,142.0,2.0,1.0,1.0,0.0
203,204,-1,1,1,1,2,0,109.1,188.8,68.9,...,106,4800,26,27,22470.0,146.0,2.0,2.0,1.0,6.0
204,205,-1,0,1,1,2,0,109.1,188.8,68.9,...,114,5400,19,25,22625.0,144.0,2.0,2.0,0.0,0.0

# Separate X, y

In [48]:
X = df.drop(['price'], axis=1)
X

,car_ID,symboling,fueltype,aspiration,doornumber,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,compressionratio,horsepower,peakrpm,citympg,highwaympg,CarName,carbody,enginetype,cylindernumber,fuelsystem
0,1,3,0,0,0,2,0,88.6,168.8,64.1,...,9.0,111,5000,21,27,0.0,0.0,0.0,0.0,0.0
1,2,3,0,0,0,2,0,88.6,168.8,64.1,...,9.0,111,5000,21,27,1.0,0.0,0.0,0.0,0.0
2,3,1,0,0,0,2,0,94.5,171.2,65.5,...,9.0,154,5000,19,26,2.0,1.0,1.0,1.0,0.0
3,4,2,0,0,1,1,0,99.8,176.6,66.2,...,10.0,102,5500,24,30,3.0,2.0,2.0,0.0,0.0
4,5,2,0,0,1,0,0,99.4,176.6,66.4,...,8.0,115,5500,18,22,4.0,2.0,2.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,0,0,1,2,0,109.1,188.8,68.9,...,9.5,114,5400,23,28,140.0,2.0,2.0,0.0,0.0
201,202,-1,0,1,1,2,0,109.1,188.8,68.8,...,8.7,160,5300,19,25,141.0,2.0,2.0,0.0,0.0
202,203,-1,0,0,1,2,0,109.1,188.8,68.9,...,8.8,134,5500,18,23,142.0,2.0,1.0,1.0,0.0
203,204,-1,1,1,1,2,0,109.1,188.8,68.9,...,23.0,106,4800,26,27,146.0,2.0,2.0,1.0,6.0
204,205,-1,0,1,1,2,0,109.1,188.8,68.9,...,9.5,114,5400,19,25,144.0,2.0,2.0,0.0,0.0

In [49]:
y = df['price']
y

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

# Splitting the data for training and testing

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [52]:
from sklearn.linear_model import LinearRegression

In [53]:
reg = LinearRegression()

In [54]:
reg.fit(X_train, y_train)

LinearRegression()

In [55]:
y_test

52      6795.0
181    15750.0
5      15250.0
18      5151.0
188     9995.0
        ...
198    18420.0
143     9960.0
24      6229.0
30      6479.0
135    15510.0
Name: price, Length: 62, dtype: float64

In [56]:
pred = reg.predict(X_test)
pred

array([ 6019.31035824, 17743.95458893, 16945.37150771,  7053.45278371,
        9497.86014962, 11061.55761102,  5736.42623758,  4355.38751677,
       18976.62184413,  7148.53689421, 18105.54312238, 30226.32231213,
       13463.69827945, 14428.17821438,  6670.34786765, 12009.10153669,
        9787.75209198, 21087.27886254,  9296.37551386,  5984.17812231,
        8879.59236852, 17767.59169212,  9318.64090054, 14297.62109748,
       22616.30314659,  7146.95872482,  5258.05110832, 18791.34199163,
        6185.4161029 ,  5503.89232402,  8558.13063746, 10668.17693828,
       16158.79577788,  8965.4644916 ,  6207.00683381, 25000.25303697,
        8833.50557585, 14178.5212678 ,  7638.566394  , 37903.7448524 ,
        6113.61665729, 17285.9804524 , 35227.05376535, 14351.18652864,
        9739.63554356,  7501.32972225,  8031.47957915, 13454.23098079,
       10415.15393443,  9338.49569542, 22981.03248328,  5276.63688138,
        6328.99089946,  9320.39394716, 16808.52454661, 20832.20598705,
       12068.4839202 , 14966.89260941,  9318.7650811 ,  8590.17469383,
        4360.50728798, 12097.7607936 ])

In [59]:
#accuracy
reg.score(X_test, y_test)

0.8533181176886248

# R-Squared value

In [60]:
from sklearn.metrics import r2_score

In [61]:
score = r2_score(y_test, pred)
score

0.8533181176886248